$White: #FFFFFF;
$Red: #CC0D1F;
$Orange: #F36324;
$SoftGreen: #80BDB8;
$Green: #28A3AA;
$PastelGreen: #5E908B;
$Black: #202124;

@media only screen and (min-width : 1440px) {
  .render-mode-group {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    text-decoration: none;
    
  }
  .card-group {
    width: 1fr;
    
    
    margin-top: 2rem;
  
    display: flex;
    flex-direction: column;
    
    justify-content: center;
  }
  .image-card-group {
    width: 10rem;
    height: 10rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding: 2rem;
    border: 1px solid rgba($Black, $alpha: .1)
  
  }
  
  .image-card-group img {
    width: 10rem;
    
  
    padding: 2rem;
  }
  .text-group {
    width: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }
  .title-group {
    width: 10rem;
    height: 2rem;
    margin-bottom: 1rem;
  }
  .price-group {
    width: 10rem;
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center ;
  }
  .card-group button {
    width: 10rem;
    height: 2.2rem;
  
    border: none;
    border-radius: .4rem;
  
    background-color: $SoftGreen;
  
    font-family: Open Sans;
    font-weight: 800;
    font-size: 1.1rem;
    color: $White;
    cursor: pointer;
  }
  .image-card-list {
    flex: 1;
    height: 6rem;
  
    display: flex;
    align-items: center;
  
    margin-left: 2rem;
  
    
    
  }
}

@media only screen and (max-width : 1440px) {
  .render-mode-group {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    text-decoration: none;
    
  }
  .card-group {
    width: 1fr;
    
    
    margin-top: 2rem;
  
    display: flex;
    flex-direction: column;
    
    justify-content: center;
  }
  .image-card-group {
    width: 9rem;
    height: 9rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding: 1rem;
    border: 1px solid rgba($Black, $alpha: .1)
  
  }
  
  .image-card-group img {
    width: 9rem;
    
  
    padding: 2rem;
  }
  .text-group {
    width: 9rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }
  .title-group {
    width: 9rem;
    height: 2rem;
    margin-bottom: 1rem;
  }
  .price-group {
    width: 9rem;
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center ;
  }
  .card-group button {
    width: 9rem;
    height: 2.2rem;
  
    border: none;
    border-radius: .4rem;
  
    background-color: $SoftGreen;
  
    font-family: Open Sans;
    font-weight: 800;
    font-size: 1.1rem;
    color: $White;
    cursor: pointer;
  }
  .image-card-list {
    flex: 1;
    height: 6rem;
  
    display: flex;
    align-items: center;
  
    margin-left: 2rem;
  
    
    
  }
}

#render-list {
  

}
@media only screen and (max-width : 1024px) {
  .render-mode-group {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    text-decoration: none;
    
  }
  .card-group {
    width: 1fr;
    
    
    margin-top: 2rem;
  
    display: flex;
    flex-direction: column;
    
    justify-content: center;
  }
  .image-card-group {
    width: 8rem;
    height: 8rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding: 1rem;
    border: 1px solid rgba($Black, $alpha: .1)
  
  }
  
  .image-card-group img {
    width: 8rem;
    
  
    padding: 2rem;
  }
  .text-group {
    width: 8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }
  .title-group {
    width: 8rem;
    height: 2rem;
    margin-bottom: 2rem;
  }
  .price-group {
    width: 8rem;
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center ;
  }
  .card-group button {
    width: 8rem;
    height: 2.2rem;
  
    border: none;
    border-radius: .4rem;
  
    background-color: $SoftGreen;
  
    font-family: Open Sans;
    font-weight: 800;
    font-size: 1.1rem;
    color: $White;
    cursor: pointer;
  }
  .image-card-list {
    flex: 1;
    height: 6rem;
  
    display: flex;
    align-items: center;
  
    margin-left: 2rem;
  
    
    
  }
}

@media only screen and (max-width : 768px) {
  .render-mode-group {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    text-decoration: none;
    
  }
  .image-card-list {
    flex: 1;
    height: 6rem;
  
    display: flex;
    align-items: center;
  
    margin-left: 2rem;
  
    
    
  }
  
}

@media only screen and (max-width : 552px) {
  .render-mode-group {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    text-decoration: none;
    
  }
  .image-card-list {
    flex: 1;
    height: 6rem;
  
    display: flex;
    align-items: center;
  
    margin-left: 2rem;
  
    
    
  }
  
}
@media only screen and (max-width : 462px) {
  .render-mode-group {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    text-decoration: none;
    
  }
  .card-group {
    width: 1fr;
    
    
    margin-top: 2rem;
  
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
  }
  .image-card-group {
    width: 10rem;
    height:10rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding: 1rem;
    border: 1px solid rgba($Black, $alpha: .1)
  
  }
  
  .image-card-group img {
    width: 9rem;
    
  
    padding: 2rem;
  }
  .text-group {
    width: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
  }
  .title-group {
    width: 8rem;
    height: 2rem;
    margin-bottom: 2rem;
  }
  .price-group {
    width: 8rem;
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center ;
  }
  .card-group button {
    width: 10rem;
    height: 2.2rem;
  
    border: none;
    border-radius: .4rem;
  
    background-color: $SoftGreen;
  
    font-family: Open Sans;
    font-weight: 800;
    font-size: 1.1rem;
    color: $White;
    cursor: pointer;
  }
  .image-card-list {
    flex: 1;
    height: 6rem;
  
    display: flex;
    align-items: center;
  
    margin-left: 2rem;
  
    
    
  }
  
}
@media only screen and (max-width : 320px) {
  .render-mode-group {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    text-decoration: none;
    
  }
  .card-group {
    width: 1fr;
    
    
    margin-top: 2rem;
  
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
  }
  .image-card-group {
    width: 8rem;
    height:10rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding: 1rem;
    border: 1px solid rgba($Black, $alpha: .1)
  
  }
  
  .image-card-group img {
    width: 9rem;
    
  
    padding: 2rem;
  }
  .text-group {
    width: 8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
  }
  .title-group {
    width: 8rem;
    height: 2rem;
    margin-bottom: 2rem;
  }
  .price-group {
    width: 8rem;
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center ;
  }
  .card-group button {
    width: 8rem;
    height: 2.2rem;
  
    border: none;
    border-radius: .4rem;
  
    background-color: $SoftGreen;
  
    font-family: Open Sans;
    font-weight: 800;
    font-size: 1.1rem;
    color: $White;
    cursor: pointer;
  }
  .image-card-list {
    flex: 1;
    height: 6rem;
  
    display: flex;
    align-items: center;
  
    margin-left: 0rem;
  
    
    
  }
}






.title-group p{
  display: flex;
  justify-content: center;

  line-height: 1rem;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
  font-size: .9rem;
  color: rgba($Black, $alpha: .5);
  margin-top: .5rem;
  
}


.price-group p{
  text-align: center;
  color: $Red;
  font-weight: 800;
  font-size: 1.2rem;
}


.card-list button:focus {
  border: 1px solid rgba($Red, $alpha: .3);
  outline: none;
}

////////////////////////////////////////

.render-mode-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.card-list {
  width: 1fr;
  height: 8rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-bottom: 1px solid rgba($Black, $alpha: .1)
}



.image-card-list img {
  width: 5rem;

  
}

.text-list {
 flex: 2;
 display: flex;

 flex-direction: row;




}

.title-list p{
  display: flex;
  justify-content: center;

  line-height: 1rem;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 1rem;
  color: rgba($Black, $alpha: .5);
  margin-top: .5rem;
}

// .price-list {
  
// }
.price-list p{
  text-align: center;
  color: $Red;
  font-weight: 800;
  font-size: 1.2rem;
  margin-bottom: .8rem;
}
 
.card-button {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-list button {
  width: 7rem;
  height: 2rem;

  border: none;
  border-radius: .4rem;

  background-color: $SoftGreen;

  font-family: Open Sans;
  font-weight: 800;
  font-size: .8rem;
  color: $White;
  cursor: pointer;
  
}
.card-list button:focus {
  border: 1px solid rgba($Red, $alpha: .3);
  outline: none;
}

.render-mode-group .not-found-results p {
  font-size: 1.2rem;
  position: absolute;
  margin-top: 2rem;
}