:root {
  font-size: 60%;
  $BackGround: #FFFFFF;
  $Red: #CC0D1F;
  $Orange: #F36324;
  $SoftGreen: #80BDB8;
  $Green: #28A3AA;
  $PastelGreen: #5E908B;
  $Black: #202124;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100vh;
}

body{
  background-color: #FFFFFF ;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}
body, input,button,textarea {
  font: 500 1.6rem OpenSans;
  color: #202124;
}

.container {
  width: 70vw;
  max-width: 700px;
}
@media (min-width: 1440px) {
  :root {
    font-size: 90%;
  }
}
@media (max-width: 1440px) {
  :root {
    font-size: 90%;
  }
}

@media (max-width: 1024px) {
  :root {
    font-size: 88%;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 86%;
  }
}

@media (max-width: 462px) {
  :root {
    font-size: 90%;
  }
}