$White: #FFFFFF;
$Red: #CC0D1F;
$Orange: #F36324;
$SoftGreen: #80BDB8;
$Green: #28A3AA;
$PastelGreen: #5E908B;
$Black: #202124;

@media only screen and (min-width : 1440px) {

  .container-market{
    width: 100%;
    
  
    padding: 0 15vw;
  
    display: flex;
    flex-direction: row;
  }
  .filter {
    width: 15rem;
    
  }
  .filter-container {
    width: 15rem;
  
    border: 1px solid rgba($Black, $alpha: .1);
  
    padding: 1rem;
    
  }
  .order select {
    width: 10rem;
    height: 1.5rem;
  
    border: 1px solid rgba($Black, $alpha: .1);
    border-radius: .3rem;
  
    background-color: $White;
  
    font-family: Open Sans;
    font-weight: 600;
    font-size: .8rem;
  
  }
 
}
@media only screen and (max-width : 1440px) {

  .container-market{
    width: 100%;
    
  
    padding: 0 15vw;
  
    display: flex;
    flex-direction: row;
  }
  .filter {
    width: 15rem;
    
  } 
  .filter-container {
    width: 15rem;
  
    border: 1px solid rgba($Black, $alpha: .1);
  
    padding: 1rem;
    
  }
  .order select {
    width: 10rem;
    height: 1.5rem;
  
    border: 1px solid rgba($Black, $alpha: .1);
    border-radius: .3rem;
  
    background-color: $White;
  
    font-family: Open Sans;
    font-weight: 600;
    font-size: .8rem;
  
  }
}

@media only screen and (max-width : 1024px) {

  .container-market{
    width: 100%;
    
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
  }
  .filter {
    width: 12rem;
    
  }
  .filter-container {
    width: 12rem;
  
    border: 1px solid rgba($Black, $alpha: .1);
  
    padding: 1rem;
    
  }
  .order select {
    width: 10rem;
    height: 1.5rem;
  
    border: 1px solid rgba($Black, $alpha: .1);
    border-radius: .3rem;
  
    background-color: $White;
  
    font-family: Open Sans;
    font-weight: 600;
    font-size: .8rem;
  
  }
  
  

}
@media only screen and (max-width : 462px) {

  .container-market{
    width: 100%;
    
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .filter {
    width: 100%;
    
    
  }
  .filter-container {
    width: 100%;
  
    border: 1px solid rgba($Black, $alpha: .1);
  
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    
    
  }
  .order select {
    width: 7rem;
    height: 1.5rem;
  
    border: 1px solid rgba($Black, $alpha: .1);
    border-radius: .3rem;
  
    background-color: $White;
  
    font-family: Open Sans;
    font-weight: 600;
    font-size: .8rem;
  
  }
  

}

#main-page {
  height:100%;
}

.market {
  margin-left: 1rem;
}



.title-filter {
  color: $Red;

  font-family: Open Sans;
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.zerar { 
  width: 9.5rem;
  height: 2.2rem;

  border: none;
  border-radius: .4rem;

  background-color: $SoftGreen;

  font-family: Open Sans;
  font-weight: 800;
  font-size: 1.1rem;
  color: $White;
  cursor: pointer;

  margin-bottom: 1rem;

  transition: 1s;
}

.zerar:focus {
  border: 1px solid rgba($Red, $alpha: .3);
  outline: none;
}

.title-ul {
  color: $PastelGreen;

  font-family: Open Sans;
  font-weight: 600;
  font-size: 1.1rem;

  margin-bottom: .8rem;
}

.filter ul li {
  color: rgba($Black, $alpha: .5);

  font-family: Open Sans;
  font-weight: 600;
  font-size: 1rem;

  margin-left: 1.4rem;
  cursor: pointer;
}
.filter ul {
  margin-bottom: 1.5rem;
}


.colors1 {
  display: flex;
  flex-direction: row;
  margin-bottom: .2rem;
}
.colors2 {
  display: flex;
  flex-direction: row;
  margin-bottom: .2rem;
}
.colors3 {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
}

.black {
  width: 3rem;
  height: 1.3rem;
  
  margin-right: .2rem;

  background-color: $Black;
  cursor: pointer;
}
.orange {
  width: 3rem;
  height: 1.3rem;
  
  margin-right: .2rem;
  
  background-color: $Orange;
  cursor: pointer;
}
.yellow {
  width: 3rem;
  height: 1.3rem;
  
  margin-right: .2rem;
  
  background-color: #FB9012;
  cursor: pointer;
}
.grey {
  width: 3rem;
  height: 1.3rem;
  
  margin-right: .2rem;
  
  background-color: #e3e5f4;
  cursor: pointer;
}
.blue {
  width: 3rem;
  height: 1.3rem;
  
  margin-right: .2rem;
  
  background-color: blue;
  cursor: pointer;
}
.pink {
  width: 3rem;
  height: 1.3rem;
  
  margin-right: .2rem;
  
  background-color: #d2afad;
  cursor: pointer;
}
.beige {
  width: 3rem;
  height: 1.3rem;
  
  margin-right: .2rem;
  
  background-color: #e8c7ae;
  cursor: pointer;
}



.market {
  width: 100%;
  margin-top: 2rem;
}
.market p {
  color: $Red;

  font-family: Open Sans;
  font-weight: 400;
  font-size: 2rem;

  margin-top: -.7rem;
}

.controller-market {
  display: flex;
  flex: 1;
  height: 2.7rem;
  margin-top: .3rem;
  
  border-bottom: .5px solid rgba($Black, $alpha: .1);
  border-top: .5px solid rgba($Black, $alpha: .1);
  
}

.mode-render-album {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}
.mode-render-album img {
  margin-right: .5rem;
  cursor: pointer;
}

.order {
  display: flex;
  flex: 1;
  flex-direction: row;

  align-items: center;
  justify-content: flex-end; 
}
.order p {
  color: rgba($Black, $alpha: .5);

  font-family: Open Sans;
  font-weight: 700;
  font-size: .8rem;

  margin-right: 1rem;

  text-align: center;
  margin-top: .1rem;
}



