$White: #FFFFFF;
$Red: #CC0D1F;
$Orange: #F36324;
$SoftGreen: #80BDB8;
$Green: #28A3AA;
$PastelGreen: #5E908B;
$Black: #202124;

#page-app {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  
}

.route {
  display: flex;
  flex-direction: row;

  padding: 0 15vw;
  margin-top: 1.5rem;
}

.route p {
  color: $Black;
  font-size: .9rem;
  font-family: Open Sans;
  font-weight: 600;

  margin-right: .6rem;
}
