$White: #FFFFFF;
$Red: #CC0D1F;

@media only screen and (min-width : 1440px) { 
  .menu{
    background-color: $Red ;
    display: flex;
    width: 100vw;
    height: 2rem;
  
    padding: 0 15vw;
    align-items: center;
  }
  .container p {
    color: $White;
    font-family: Open Sans;
    font-weight: 700;
    font-size: .7rem;
    text-decoration: none;
  
    margin-right: 4rem;
  }

  
}
@media only screen and (max-width : 1440px) { 
  .menu{
    background-color: $Red ;
    display: flex;
    width: 100vw;
    height: 2rem;
  
    padding: 0 15vw;
    align-items: center;
  }
  .container p {
    color: $White;
    font-family: Open Sans;
    font-weight: 700;
    font-size: .7rem;
    text-decoration: none;
  
    margin-right: 4rem;
  }
  
  
}

@media only screen and (max-width : 1024px) { 
  .menu{
    background-color: $Red ;
    display: flex;
    width: 100vw;
    height: 2rem;
  
    padding: 0 2rem;
    align-items: center;
  }
  .container p {
    color: $White;
    font-family: Open Sans;
    font-weight: 700;
    font-size: .7rem;
    text-decoration: none;
  
    margin-right: 2rem;
  }
  
}
@media only screen and (max-width : 562px) {
  .menu{
    background-color: $Red ;
    display: flex;
    width: 100vw;
    height: 2rem;
    
    padding: 0 2rem;
    align-items: center;
    
  }
  .container p {
    color: $White;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 9.1px;
    text-decoration: none;
  
    margin-right: .5rem;
  }
  .container p:first {
    color: $White;
    font-family: Open Sans;
    font-weight: 700;
    font-size: .7rem;
    text-decoration: none;
  
    margin-right: 2rem;
  }
  
  
}
@media only screen and (max-width : 390px) {
  .container p {
    color: $White;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 9px;
    text-decoration: none;

    margin-right: .6rem;
  }
}
@media only screen and (max-width : 320px) {
  .menu{
    background-color: $Red ;
    display: flex;
    width: 100vw;
    height: 2rem;
  
    padding: 0 2rem;
    align-items: center;
    visibility: hidden;
    margin-right: 0;
  }
  
 }

  

.container {
  display: flex;
  flex-direction: row;
  
}


.link {
  text-decoration: none;
}





