$White: #FFFFFF;
$Black: #202124;
@media only screen and (min-width : 1440px) { 
  #login {
    background-color: $Black ;
    padding: 0 15vw;
  
    height: 1.5rem;
  }
  
}
@media only screen and (max-width : 1440px) { 
  #login {
    background-color: $Black ;
    padding: 0 15vw;
  
    height: 1.5rem;
  }
  
}
@media only screen and (max-width : 1024px) { 
  #login {
    background-color: $Black ;
    padding: 0 2rem;
  
    height: 1.5rem;
  }
  
}


.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.content a {
  color: $White;
  font-size: 1rem;
  font-family: Open Sans;
  font-weight: 700;
}
.content p{
  color: $White;
  font-size: 1rem;
  font-family: Open Sans;
  font-weight: 400;
  margin: 0 0.5rem;
}