$White: #FFFFFF;
$Red: #CC0D1F;
$Orange: #F36324;
$SoftGreen: #80BDB8;
$Green: #28A3AA;
$PastelGreen: #5E908B;
$Black: #202124;

#shoes-page {
  width: 100vw;
  

  display: flex;
  flex-direction: column;
}
@media only screen and (max-width : 1440px) {
  .route {
    display: flex;
    flex-direction: row;
  
    padding: 0 15vw;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .route p {
    color: $Black;
    font-size: .9rem;
    font-family: Open Sans;
    font-weight: 600;
  
    margin-right: .6rem;
  }
  .route p:last-child{
    color: $Red;
  }
  }



@media only screen and (max-width: 1024px) {
  .route {
    display: flex;
    flex-direction: row;
  
    padding: 0 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .route p {
    color: $Black;
    font-size: .9rem;
    font-family: Open Sans;
    font-weight: 600;
  
    margin-right: .6rem;
  }
  .route p:last-child{
    color: $Red;
  }
}



